*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.decoration{
    text-align: center;
    color: #ffbb00;
    text-shadow: 1px 1px 2px black;
    font-size: 100px;
    padding: 17vw 0;
    background: linear-gradient(to bottom, #000, #0004 80%, transparent);
    letter-spacing: 3px;
}
body{
    background: url(assets/img/img1.jpg) no-repeat fixed;
    background-size: 100%;
    }

    /*Seccion head*/

    .nav{
        background: rgb(133, 91, 15);
        width: 100%;
        height: 50px;
        font-size: 25px;
        padding-top: 20px;
        text-align: center;
    }
    .nav a{
        text-decoration: none;
        color: #ffd000;
        margin: 10px;
        font-weight: 400;
    }
        
        .search {
            position: absolute;
            right: 3%;
            transform: translate(-20% , -25%);
            padding: 10px;
        }  
        input{
            outline: none;
            box-sizing: border-box;
            width: 0;
            padding: 10px 20px;
            color: #000;
            border-radius: 50px;
            font-size: 20px;
            border: 5px solid #d1a515;
            transition: all .7s ease;
        }
        ::placeholder{
            color: #aaa;
        }
        .btn{
            position: absolute;
            right: 0;
            top: 5px;
            width: 60px;
            height: 60px;
            background: #ffdd1d;
            line-height: 80px;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            transition: .5s;
        }
        .btn i{
            font-size: 25px;
            line-height: 80px;
            color: #fff;
            transition: all .7s ease;
        }
        .search:hover input{
            width: 280px;
        }
        .search:hover i{
            transform: rotate(-460deg);
        }
        .btn:hover{
            background-color: #fff0;
        }

    /*Primer parrafo*/

    .caja-parrafo{
        padding-left: 100px;
        padding-right: 100px;

    }

    .caja-parrafo p{
        color: rgb(255, 255, 255);
        text-align: justify;
        width: 100%;
        /*para el espacio de separacion de galeria*/
        height: 500px;
        font-size: 25px;
    }

    /*Galeria*/

    .caja2{
        width: 100%;
        height: 300px;
        align-content: center;
    }
    .caja2 img{
        width: 250px;
        height: 200px;
        margin-left: 25px;
        border: 2px solid black;
        border-radius: 10px;
    }
    .caja2 img:hover{
        margin-bottom: 5px;
        transition: 0.5s;
    }

    /*informacion*/

    .Informacion{
        width: 100%;
        height: 200px;
        text-align: justify;
        align-items: center;
        display: flex;
    }

    .Informacion p{
        margin-top: 50px;
        margin-right: 40px;
        font-size: 20px;
        width: 600px;
        height: 170px;
    }

    .Informacion img{
        width: 200px;
        background: gray;
        border: black 2px solid;
        border-radius: 10px;
    }
